@charset directive set to "utf-8"

/* Box-sizing reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
/* Body element */
body {
    min-height: 90vh;
}

/* Footer element */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 16px;
    font-size: 12px;
}



/* Image */
img {
    width: 160px;
    vertical-align: middle;
}

/* Heading element with name */
h2 {
    display: inline-block;
}

/* Aside */
aside {
    width: 20%: 
    padding: 8px;
    margin-top: 24px;
    background-color: lightgrey;
    border: 1px solid black;
    float: right;

}

/* Class for extreme comfort */
.extreme-comfort {
background-color: lightgreen;
}

/* Class for minor discomfort */
.minor-discomfort {
background-color: red;
}

/* Table styles */
table {
    width: 40%;
    border-collapse: collapse;
    text-align: center;
}

table,
tr,
th,
td {
  border: 1px solid black;
}
